/* estilos generales */
* {
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: none;
}

ul {
    list-style-type: none;
}

.body {
    background-color: rgb(207, 207, 207);
    font-family: arial;
}

/* estilos header */
.header {
    display: flex;
    background-color: rgba(120, 151, 120, 0.795);
}

nav {
    display: flex;
    width: 100%;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.menu li {
    padding: 3% 1% 2% 1%;
}

.logo img {
    height: 80px;
    margin: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.menu a:hover {
    color: white;
    font-weight: bolder;
}

/* estilo main */
.main {
    height: 1000px;
    background-image: url("../img/casa1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.sectionone {
    margin-left: 35%;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.729);
    flex-direction: column;
    padding: 2%;
}

.h2 .parrafoone {
    font-family: Arial;
}

/* Estilo footer */
.footer {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    background-color: rgb(100, 83, 83);
    font-family: arial;
    padding: 10px;
    font-family: Arial narrow;
    color: white;

}

.redes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
    width: 15%;
}

.redes img {
    height: 30px;
}

.info {
    align-content: center;
    padding-top: 20px;
    font-style: italic;
}

/* Estilo Nosotros */
/*
.section1{
    padding: 50px;
    background-color: white;

}
*/
.imgnosotros {
    width: auto;
    height: 50vh;
}

/* gri aplicado a "nosotros" */

.grilla {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1.7fr 0.3fr 1fr 0.3fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header"
        "section1 section2"
        "opiniones opiniones"
        "section3 section4"
        "footer footer";
}

.header {
    grid-area: header;
}

.section1 {
    grid-area: section1;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.section1,
.section2 {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulosection2 {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 2em;
}

.section2 {
    grid-area: section2;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

.opiniones {
    grid-area: opiniones;
    display: flex;
    justify-content: center;
    color: black;
    padding-top: 20px;
    font-size: 1.5em;
}

.section3 {
    grid-area: section3;
}

.section3 p {
    background-color: rgb(232, 232, 232);
    padding: 30px;
}

.section4 {
    grid-area: section4;
}

.section3,
.section4 {
    display: flex;
    flex-direction: column;
    padding: 40px;
    text-align: center;
}

.section4 p {
    background-color: rgb(232, 232, 232);
    padding: 30px;
}

.icon {
    padding: 30px;
}

.footer {
    grid-area: footer;
}

/* Diseño responsive */
@media (max-width:390px) {
    .logo {
        display: none;
    }

    .menu,
    .footer {
        flex-direction: column;
        align-items: center;
    }

    /* no logro que la imagen de nosotros se ajuste en altura */
    .imgnosotros {
        width: 100%;
        height: auto;
    }

    .grilla {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header"
            "section1 section1"
            "section2 section2"
            "opiniones opiniones"
            "section3 section3"
            "section4 section4"
            "footer footer"
    }
}